@use '../../styles/variables' as v; 

.submitconnexion {
 background-color: v.$tertiary;
 display: flex;
 margin: auto;
 color: #fff;
 border-radius: 15px;
 border: none;
 padding: 0.8rem 1rem;
 margin-top: 2em;
 text-transform: uppercase;
 font-weight: 600;
transition: opacity 0.3s;


 &:hover {
 background-color: v.$tertiary;
 color: #fff;
 opacity: 0.7;
}

&:focus {
border: 2px solid v.$secondary;
background-color: v.$tertiary;
color: #fff;
opacity: 0.7;
}
}
