.intro__text__associations {
    display: none;

    @media (min-width: 992px) {
        display: block;
        margin-top: 1rem;
        text-align: center;
        padding: 0 2rem;
    }
}

.associations__section {
    @media (min-width: 992px) {
        display: flex;
        gap: 2em;
    }

    &__title {
        margin: 2.5rem 0 0;
        text-align: center;
        @media (min-width: 992px) {
            text-align: start;
        }
    }

    &__filter {
        position: relative;
        @media (min-width: 992px) {
            width: 32%;
        }
    }
}

.associations__section__result {
    @media (min-width: 992px) {
        margin: 1.5rem 0;
    }
}

.cards {
    width: 100%;

    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__descritpion {
        display: flex;
        justify-content: center;
        gap: 2em;
        padding-top: 0.3em;

        span {
            font-weight: normal;
        }
    }
}
