@use "./variables" as v;

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: v.$body;
    color: v.$main;
    line-height: 1.5;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-weight: bold;
    font-family: Arima, sans-serif;
}

h1 {
    font-size: 1.75rem;
    @media (min-width: 992px) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 1.25rem;
    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
}

.main__title {
    text-align: center;
    margin: 2.5rem 0;

    @media (min-width: 992px) {
        display: block;
        text-align: center;
    }
}

.intro__text {
    text-align: center;
    padding: 0 2rem;
    @media (min-width: 992px) {
        padding: 0;
    }
}

// Classe pour styliser les boutons ou lien avec un style de bouton
.btn {
    background-color: v.$tertiary;
    color: #fff;
    border-radius: 15px;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: opacity 0.3s;

    &:hover {
        background-color: v.$tertiary;
        color: #fff;
        opacity: 0.7;
    }

    &:focus-visible {
        border: 2px solid v.$secondary;
        background-color: v.$tertiary;
        color: #fff;
        opacity: 0.7;
    }
}

// Icone afficher/masquer password
// /!\ Mettre l'input password en position relative
.icon.icon--eye {
    position: absolute;
    right: 10px;
    top: 73%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    img {
        width: 25px;
        height: 25px;
    }
}

// Classe qui engloble les card animaux
.cards {
    width: 100%;

    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }
}
