@use '../../styles/variables' as v; 

 .icon {
   background: none;
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    transition: stroke 0.3s;
    @media (min-width: 992px) {
    stroke: v.$secondary-light;
    width: 30px;
    height: 30px;
    }   
    
    img {
    width: 30px;
    height: 30px;
    }

    // Si besoin de modifier le style d'un icon, passer les modifications à la fin avec le modifier

    &--dashboard{
      img {
        width: 1em;
        height: 1em;
        }
    }

    }