@use "../../styles/variables" as v;

.main--animal {
    .section__animal {
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;
            @media (min-width: 992px) {
                flex-direction: row;
                align-items: center;
                margin: 3rem 0;
            }

            .animal__identity {
                display: flex;
                align-items: center;
                column-gap: 1rem;
            }

            .main__title {
                margin: 0;
            }

            .icon {
                width: 35px;
                height: 35px;
            }

            .animal__availability {
                font-size: 1.25rem;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (min-width: 992px) {
                    flex-direction: row;
                    font-size: 1.5rem;
                }

                &::before {
                    content: "";
                    display: block;
                    background-color: black;
                    width: 50%;
                    height: 1px;
                    position: relative;
                    top: 0;
                    margin: 1rem 0;

                    @media (min-width: 992px) {
                        left: 0;
                        top: 0;
                        width: 1px;
                        height: 50px;
                        margin: 0 1.5rem;
                        transform: translateX(0);
                    }
                }
            }
        }

        &__main {
            margin-bottom: 2rem;
            @media (min-width: 992px) {
                display: flex;
                column-gap: 2.5rem;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3rem;
            }

            .animal__img {
                height: 350px;
                @media (min-width: 992px) {
                    order: 2;
                    width: 40%;
                    flex: none;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            .animal__infos__data {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                justify-content: center;
                margin: 2rem 0;
                @media (min-width: 992px) {
                    margin-top: 0;
                }

                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 0.5rem;
                }

                .item__title {
                    font-family: Helvetica, sans-serif;
                }

                .item__value {
                    background-color: v.$secondary-light;
                    color: #fff;
                    border-radius: 5px;
                    padding: 0.7rem 1rem;
                }
            }

            .animal__description {
                text-align: center;
            }
        }
    }

    .section__association {
        border-top: 1px solid v.$secondary-light;
        padding-top: 2rem;
        @media (min-width: 992px) {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .association__infos {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5rem;
            @media (min-width: 992px) {
                margin-top: 0;
            }
        }

        .association {
            &__name {
                font-size: 1.25rem;
                text-transform: uppercase;
            }

            &__link {
                color: v.$secondary;
                transition: color 0.3s;

                &:hover {
                    color: v.$secondary-light;
                }

                &--underline {
                    text-decoration: underline;
                    color: v.$tertiary;
                }
            }
        }

        .btn--demande {
            margin-top: 1rem;
        }

        .btn--disabled {
            margin-top: 1rem;
            background-color: #e5e5e5;
            color: #717171;
            border: none;
            font-weight: 500;
        }
    }
}

.map__container {
    @media (min-width: 992px) {
        width: 50%;
    }
}

.map {
    height: 200px;
    width: 100%;
    @media (min-width: 992px) {
        height: 100%;
    }
}

.modal__confirm {
    .btn {
        border: none;
        &--cancel {
            background-color: #acacac;
        }

        &--confirm,
        &--confirm:active {
            background-color: v.$tertiary;
        }
    }
}

.error {
    margin: 3rem 0;
    text-align: center;
}

.alert {
    margin-top: 1rem;
}
