.form__text, .form__title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    }

.form__connexion__description {
    margin: 1em 0;
    }

#form__image {
    margin-top: 1em;
    }

.btn {
    display: block;
    margin: 1em auto;
}
