.form__text, .form__title {
    text-align: center;
    margin-top: 1.5em;
    }

.form__button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    border: none;
    }
 
.btn {
    display: block;
    margin: 1em auto;
}