.password-input-container {
    position: relative;
    width: 100%;
}

.form__connexion__input {
    max-width: 400px; 
    padding: 0.5rem 2.5rem 0.5rem 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.toggle-password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
