@use "../../styles/variables" as v;

.manage-animal {
    &__cards__container {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .btn--add-animal {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        margin: 0 auto 2rem;
        background-color: v.$secondary-light;
    }

    .btn--form {
        background-color: v.$secondary-light;
        border: none;
        padding: 0.8rem 1rem;
        border-radius: 15px;
        color: v.$tertiary-light;

        &:hover {
            background-color: v.$secondary;
        }

        &:active,
        &:focus:active {
            background-color: v.$tertiary;
            border: none;
        }
    }
}

.modal__toast {
    color: #ffffff
}
