@use "../../styles/variables" as v;

.container {
    min-height: 59.3vh;
}

.form__connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: Helvetica, sans-serif;

    .form__group {
        width: 50%;
    }

    .form__group__password {
        position: relative; // Pour icone masquer/afficher password qui est en absolute
    }

    .label {
        position: relative;
        font-weight: bold;
        gap: 0.4em;
    }

    .input {
        @media (min-width: 992px) {
            width: 250px;
        }
    }

    .form-control:focus {
        border-color: v.$primary;
        box-shadow: none;
    }

    .btn__submit {
        border: none;

        &:focus:active {
            border: 2px solid v.$secondary;
            background-color: v.$tertiary;
            color: #fff;
            opacity: 0.7;
        }
    }
}
