

.form__connexion  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form__connexion__label  {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-weight: bold;
}

.error {
    margin-top: 1em;
    font-weight: normal;
}
