@use '../../styles/variables' as v;

.reset__form {
    width: 50%;
    margin:auto;
}

.btn--form-reset{
    background-color: v.$tertiary;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    color: v.$tertiary-light;

    &:hover {
      background-color: v.$secondary;
      border:none;
    }

    &:active, &:focus:active, &:focus{
      background-color: v.$secondary;
      border: none;
    }

    display:block;
    margin: 1.5em auto;
  }

  .confirmation__reset__toast {
    margin: auto;
  }
