@use "../../styles/variables" as v;

.main--reset-password {
    .reset__form {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn--form-reset {
        background-color: v.$tertiary;
        border: none;
        padding: 0.8rem 1rem;
        border-radius: 15px;
        color: v.$tertiary-light;
        display: block;
        margin: 1.5em auto;

        &:hover {
            background-color: v.$secondary;
            border: none;
        }

        &:active,
        &:focus:active,
        &:focus {
            background-color: v.$secondary;
            border: none;
        }
    }

    .confirmation__reset__toast {
        margin: auto;
    }

    .form__group__password {
        position: relative;
        width: 50%;
        max-width: 350px;
    }
}
