@use '../../styles/variables' as v;


.animals__section__filter {
  padding-top: 2.5em;
  position: relative;
  @media (min-width: 992px) {
    //width: 20%;
  }
}

.animals__section__result {
  padding: 1.5em 0 0 1.25em;
}

.filters {
  display: none;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  z-index: 1;
  margin-top: 1.5em;
  background-color: v.$body;
  font-family: Helvetica, sans-serif;

  @media (min-width: 992px) {
    display: flex;
    position: relative;
    box-shadow: none;
  }
}

.filters__form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  gap: 1em;
  @media (min-width: 992px) {
    margin: 0;
    width: 100%;
  }
}

.filters__form__description {
  font-size: 1em;
  font-weight: bold;
}

.filters__form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.form-check-input {
  margin-right: 0.5em;
  margin-top: 0;
}

.btn__form {
  border: 1px solid transparent;
  background-color: v.$tertiary;
  color: #fff;
  border-radius: 15px;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: opacity 0.3s;

  &:hover {
    background-color: v.$tertiary;
    color: #fff;
    opacity: 0.7;
  }

}

.btn__form--reinit {
  border: 1px solid transparent;
  background-color: v.$secondary-light;
  color: #fff;
  border-radius: 15px;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: opacity 0.3s;


  &:hover {
    background-color: v.$secondary-light;
    color: #fff;
    opacity: 0.7;
  }

}