@use '../../styles/variables' as v;

.fieldset{
    &--legend{
      font-size: 1em;
    }
    &__dashboard{
      margin-bottom: 0.5em;
    }
  }

  .ckeckbox-availibility {
    display:flex;
    gap: 0.5em;
  }

  .btn--form{
    background-color: v.$secondary-light;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    color: v.$tertiary-light;

    &:hover {
      background-color: v.$secondary;
    }

    &:active, &:focus:active {
      background-color: v.$tertiary;
      border: none;
    }
  }
  